<h3></h3>
<div>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <img matListAvatar src="https://picsum.photos/200/300/?random" alt="">
            <span mat-line>{{student1.nombre}}</span>
            <span mat-line>{{student1.ciudad}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <img matListAvatar src="https://picsum.photos/200/300/?random" alt="">
            <span mat-line>{{student2.nombre}}</span>
            <span mat-line>{{student2.ciudad}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <img matListAvatar src="https://picsum.photos/200/300/?random" alt="">
            <span mat-line>{{student3.nombre}}</span>
            <span mat-line>{{student3.ciudad}}</span>
        </mat-list-item>
    </mat-list>
</div>

<mat-list>
    <app-item-estudiante></app-item-estudiante>
</mat-list>